:root {
    --black1: #1d2021;
    --black2: #3c3836;
    --black3: #504945;
    --white: #e2cca9;
    --red: #f2594b;
    --orange: #f28534;
    --yellow: #e9b143;
    --green: #b0b846;
    --aqua: #8bba7f;
    --blue: #80aa9e;
    --pink: #e08cba;
    --purple: #d386b0;
    --grey0: #7c6f64;
    --grey1: #928374;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--red);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: var(--yellow);
    font-weight: 600;
    letter-spacing: 0.05em;
}

h3 {
    color: var(--green);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.03em;
}

h4 {
    color: var(--blue);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.03em;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    color: var(--white);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black1);
    overflow: hidden;
    height: 100vh;
}

a {
    color: var(--purple); 
    justify-content: space-between;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
    color: var(--pink); 
    
}

.left-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-parent {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 5vh; 
    overflow: hidden;
    width: 90%;
    border: 2px solid var(--black3);
    background-color: var(--black1);
    height: 90vh; 
}

.left-child {
    flex: 1;
    padding: 3vh;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    height: 100%;
}

.right-child {
    flex: 2; 
    padding: 3vh; 
    overflow-y: scroll; 
    height: 100%; /* Fill the parent height */
}


.left-child > *, .small-margin > * {
    margin-bottom: 1vh;
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 3vw;
    height: auto;
    flex-direction: row;
}

.left-navbar {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 100%;
    gap: 3vw;
    height: auto;
    flex-direction: row;
}

.bullets {
    padding-left: 3vh; 
}

.bullets li {
    list-style-type: disc; 
    margin-bottom: 1vh; 
}

.yellow-highlight {
    color: var(--yellow);
}

.orange-highlight {
    color: var(--orange);
}

.blue-highlight {
    color: var(--blue); 
}

.red-highlight {
    color: var(--red); 
}

.green-highlight {
    color: var(--green);
}

.purple-highlight {
    color: var(--purple);
}

.white-highlight {
    color: var(--purple);
}

.pink-highlight {
    color: var(--pink);
}

.aqua-highlight {
    color: var(--aqua);
}

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none; 
}