:root {
    --black1: #1d2021;
    --black2: #3c3836;
    --black3: #504945;
    --white: #e2cca9;
    --red: #f2594b;
    --orange: #f28534;
    --yellow: #e9b143;
    --green: #b0b846;
    --aqua: #8bba7f;
    --blue: #80aa9e;
    --pink: #e08cba;
    --purple: #d386b0;
    --grey0: #7c6f64;
    --grey1: #928374;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--red);
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: var(--yellow);
    font-weight: 600;
    letter-spacing: 0.05em;
}

h3 {
    color: var(--green);
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.03em;
}

h4 {
    color: var(--blue);
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.03em;
}

body {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: var(--white);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    min-height: 100vh; /* Ensure full viewport height */
    justify-content: center;
    align-items: center;
    background-color: var(--black1);
    overflow: hidden;
}

footer {
    color: var(--pink); 
    text-align: center;
    width: 100%; /* Ensure footer spans the full width */
    margin-top: 50px; /* Push footer further down */
}

.left-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-parent {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    padding: 40px; 
    margin: 10px 50px;
    overflow: hidden;
    width: 90%;
    border: 2px solid var(--black3);
    background-color: var(--black1);
}

.left-child {
    flex: 1; 
    padding: 20px; 
    max-height: 700px;
}

.right-child {
    flex: 2; 
    padding: 20px; 
    overflow-y: scroll; 
    max-height: 700px; 
}

.right-child > * {
    margin-bottom: 20px;
}

.left-child > * {
    margin-bottom: 20px; 
}

.margin15 > * {
    margin-bottom: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between; 
}

.navbar a {
    padding: 5px 20px; 
    color: var(--purple); 
}

.navbar a:hover {
    text-decoration: underline; 
    color: var(--pink); 
}

.assets_nav {
    display: flex;
}

.assets_nav a {
    justify-content: space-between;
    margin: 10px;
    color: var(--purple); 
}

.assets_nav a:hover {
    text-decoration: underline; 
    color: var(--pink); 
}

.job-description {
    margin-top: 5px;
    padding-left: 20px; 
}

.job-description li {
    list-style-type: disc; 
    margin-bottom: 8px; 
}

.yellow-highlight {
    color: var(--yellow);
}

.orange-highlight {
    color: var(--orange);
}

.blue-highlight {
    color: var(--blue); 
}

.red-highlight {
    color: var(--red); 
}

.green-highlight {
    color: var(--green);
}

.purple-highlight {
    color: var(--purple);
}

.white-highlight {
    color: var(--purple);
}

.pink-highlight {
    color: var(--pink);
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    
    .container {
        width: 90%; /* Adjust width for smaller screens */
    }

    header h1 {
        font-size: 2em;
    }
}