:root {
    --black: #151718;
    --white: #e2cca9;
    --lightwhite: #e6dac7;
    --red: #f2594b;
    --orange: #f28534;
    --yellow: #e9b143;
    --green: #b0b846;
    --aqua: #8bba7f;
    --blue: #80aa9e;
    --pink: #e08cba;
    --purple: #d386b0;
    --grey0: #7c6f64;
    --grey1: #928374;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: var(--white);
    background-color: var(--black);
}

::-webkit-scrollbar {
    width: 0; 
    height: 0; 
}

* {
    scrollbar-width: none; 
}

.highlight {
    color: var(--lightwhite)
}

.red-highlight {
    color: var(--red); 
}

.orange-highlight {
    color: var(--orange);
}

.yellow-highlight {
    color: var(--yellow);
}

.green-highlight {
    color: var(--green);
}

.aqua-highlight {
    color: var(--aqua);
}

.blue-highlight {
    color: var(--blue); 
}

.pink-highlight {
    color: var(--pink);
}

.purple-highlight {
    color: var(--purple);
}

.white-highlight {
    color: var(--white);
}

.jake {
    color: #8cade6;
}

.eddie {
    color: #f93333;
}