* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: left;
}


body {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    color: var(--lightwhite); 
    text-decoration: none;
}

a:hover {
    color: var(--pink)
}

.center-box {
    width: 90%;
    max-width: 700px;
    padding: 4vw;
    gap: 4vh;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
}

.right {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

@media (max-width: 600px) {

    .center-box {
        max-width: 300px; 
        padding: 15px;
        flex-direction: column;
    }

    .left {
        text-align: left;
        margin-right: auto;
        margin-left: 0;
    }

    .header a {
        display: block;
    }

    body {
        font-family: 'Courier New', Courier, monospace;
        font-size: 13px;
        color: var(--white);
        background-color: var(--black);
    }

}