body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    padding: 5vh;   
}

h3 {
    color: var(--lightwhite)
}

.head {
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-items: center;
    text-align: center;
}

.body {
    justify-content: start;
    width: 60vw;
    text-align: justify;
    font-family: 'Book Antiqua', 'Palatino Linotype', 'Georgia', Palatino, serif;
    font-size: 17px;
    letter-spacing: 0.03em;
    line-height: 1.7;
    padding-bottom: 9vh;
}

.left-navbar {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 90%;
    gap: 3vw;
    height: auto;
    flex-direction: row;
}

.separator {
    background-color: var(--lightwhite);
    width: 40vw;
    height: 1px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}


.whisper {
    font-size: 14px;
    width: 60vw;
    color: var(--grey1);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.glossary {
    font-size: 15px;
    width: 60vw;
    color: var(--grey1);
    text-align: right;
    align-items: center;
    justify-content: center;
}


#intro {
    font-style: italic;
    text-align: center;
    font-size: 17px;
}

a {
    color: var(--lightwhite); 
    justify-content: space-between;
    text-decoration: underline;
}

a:hover {
    color: var(--green); 
    text-decoration: underline; 
}

@media (max-width: 600px) {

    h1 {
        font-size: 23px;
    }
    
    body {
        font-size: 13px;
    }
    
    a {
        font-size: 13px;
    }

}