* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    padding-bottom: 3vh;
    text-decoration: underline;
    color: var(--lightwhite);
}

h2 {
    font-weight: bold;
    letter-spacing: 0.06em;
    text-decoration: underline;
    color: var(--lightwhite);
}

h3 {
    font-weight: bold;
    letter-spacing: 0.06em;
}

h4 {
    font-weight: normal;
    letter-spacing: 0.06em;
}

body {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

a {
    color: var(--lightwhite); 
    justify-content: space-between;
    text-decoration: underline;
}

a:hover {
    color: var(--yellow); 
    text-decoration: underline; 
}

.left-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-parent {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 5vh; 
    padding-bottom: 5vh; 
    overflow: hidden;
    width: 90%;
    height: 90vh; 
}

.left-child {
    flex: 1;
    padding: 5vh;
    display: flex;
    flex-direction: column; 
    height: 100%;
    gap: 2vh;
    overflow-y: scroll; 
}

.right-child {
    flex: 2; 
    display: flex;
    flex-direction: column;
    padding: 5vh; 
    overflow-y: scroll; 
    height: 100%;
    gap: 3vh;
}

.right-child a {
    color: var(--lightwhite); 
    text-decoration: underline;
}

.right-child a:hover {
    color: var(--pink); 
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 3vw;
    height: auto;
    flex-direction: row;
}

.left-navbar {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 100%;
    gap: 3vw;
    height: auto;
    flex-direction: row;
}

.bullets {
    padding-left: 3vh; 
}

.bullets li {
    list-style-type: disc; 
    margin-bottom: 1vh; 
}

.right-child-child {
    gap: 2vh;
    display: flex;
    flex-direction: column;
}

.section-child {
    gap: 1.8vh;
    display: flex;
    flex-direction: column;
}

.separator {
    width: 1px;
    height: 60vh;
    background-color: var(--lightwhite);
    
}

.portfolio-section {
    gap: 0.5vh;
    display: flex;
    flex-direction: column;
}

#id p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 600px) {

    h1 {
        font-size: 23px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-weight: bold;
        letter-spacing: 0.06em;
        font-size: 14px;
    }
    
    h4 {
        font-weight: normal;
        letter-spacing: 0.06em;
        font-size: 14px;
    }
    
    body {
        line-height: 1.6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 100vh;
        font-size: 13px;
    }

    .flex-parent {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        gap: 10vh;
        padding-top: 33vh;
    }

    .left-child {
        display: block;
        overflow: visible;
        align-content: center;
        gap: 4vh;
    }

    .right-child {
        display: block;
        overflow: visible;
        gap: 4vh;
    }

    .left-right {
        display: flex;
        flex-direction: column;
        align-items: start;
    }    

    .right-child-child {
        padding-top: 2vh;
        padding-bottom: 2vh;
        display: flex;
        flex-direction: column;
    }
    
    .section-child {
        gap: 2vh;
        display: flex;
        flex-direction: column;
    }
    
    
}