* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--red);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 3vh;
}

h2 {
    color: var(--yellow);
    font-weight: 600;
    letter-spacing: 0.05em;
}

h3 {
    color: var(--green);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.03em;
}

h4 {
    color: var(--blue);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.03em;
}

body {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

a {
    color: var(--purple); 
    justify-content: space-between;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
    color: var(--pink); 
}

.left-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-parent {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 5vh; 
    overflow: hidden;
    width: 90%;
    border: 2px solid var(--black3);
    background-color: var(--black1);
    height: 90vh; 
}

.left-child {
    flex: 1;
    padding: 3vh;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    height: 100%;
}

.right-child {
    flex: 2; 
    padding: 2vh; 
    overflow-y: scroll; 
    height: 100%; /* Fill the parent height */
}


.left-child > *, .small-margin > * {
    margin-bottom: 1.5vh;
}

.smaller-margin > * {
    margin-bottom: 0.3vh
}

.navbar{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 3vw;
    height: auto;
    flex-direction: row;
}

.left-navbar {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 100%;
    gap: 3vw;
    height: auto;
    flex-direction: row;
}

.bullets {
    padding-left: 3vh; 
}

.bullets li {
    list-style-type: disc; 
    margin-bottom: 1vh; 
}

#id p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}