* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 3vh;
    text-decoration: underline;
    color: var(--lightwhite);
}

h2 {
    font-weight: bold;
    letter-spacing: 0.06em;
    text-decoration: underline;
    color: var(--lightwhite);
}

h3 {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.06em;
}

h4 {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.06em;
}

body {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

a {
    color: var(--lightwhite); 
    justify-content: space-between;
    text-decoration: underline;
}

a:hover {
    color: var(--yellow); 
    text-decoration: underline; 
}

.left-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-parent {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 4vh; 
    overflow: hidden;
    width: 90%;
    height: 90vh; 
}

.left-child {
    flex: 1;
    padding: 5vh;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    height: 100%;
    gap: 2vh;
}

.right-child {
    flex: 2; 
    display: flex;
    flex-direction: column;
    padding: 5vh; 
    overflow-y: scroll; 
    height: 100%;
    gap: 3vh;
}

.right-child a {
    color: var(--lightwhite); 
    text-decoration: underline;
}

.navbar{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 3vw;
    height: auto;
    flex-direction: row;
}

.left-navbar {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 100%;
    gap: 3vw;
    height: auto;
    flex-direction: row;
}

.bullets {
    padding-left: 3vh; 
}

.bullets li {
    list-style-type: disc; 
    margin-bottom: 1vh; 
}

.right-child-child {
    gap: 2vh;
    display: flex;
    flex-direction: column;
}

.section-child {
    gap: 1.8vh;
    display: flex;
    flex-direction: column;
}

.separator {
    width: 1px;
    height: 60vh;
    background-color: var(--lightwhite);
    
}

.portfolio-section {
    gap: 0.5vh;
    display: flex;
    flex-direction: column;
}

#id p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}